{% extends "base.html" %} {% block content %}
<h2>Network Devices</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>IP Address</th>
      <th>Platform</th>
      <th>Status</th>
      <th>Interfaces</th>
    </tr>
  </thead>
  <tbody>
    {% for d in devices %}
    <tr>
      <td>{{ d.hostname }}</td>
      <td>{{ d.managementIpAddress }}</td>
      <td>{{ d.platformId }}</td>
      <td>{{ d.reachabilityStatus }}</td>
      <td>
        <a
          href="{% url 'interfaces' %}?ip={{ d.managementIpAddress }}"
          class="btn btn-sm btn-primary"
        >
          Ver Interfaces
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
